<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Home-FindAPet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/stylesheets/homebody.css">
</head>

<body>
    <nav>
        <div class="logo">
            <h2>FindAPet
                <img src="/graphics/logo.svg" alt="logo" class="logo-paw">
            </h2>

        </div>
        <ul class="nav-links">
            <li><a href="/adoptables"> Find</a></li>
            <% if(!currentUser) {%>
            <li><a href="/login"> login</a></li>
            <li><a href="/register"> register</a></li>
            <% } else{ %>
            <li><a href="/logout"> logout</a></li>
            <% } %>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="text-body">
        <p class="lead"> Welcome to FindAPet!
            <br>Searchable database of animals who need homes. <br>
            You can adopt<br>
            Or by uploading necessary details<br>
            you can save a life.<br>
        </p>
        <a href="/adoptables" class="main-button">Adopt</a>
    </div>

    <footer>
        <p>&copy; 2021 </p>
    </footer>
    <script src="/javascripts/homeapp.js"></script>
</body>

</html>